<div class="container">
	<nav id="navbar" class="navbar-fixed-top">
		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/beginnertips">Beginner Tips</a></li>
				<li><a href="/explorehikes"> Explore Hikes </a> </li>
				<li style="float:right"><a href="/signup"> Sign Up </a> </li>
				<li style="float:right"><a href="/login"> Log In </a> </li>
				<li style="float:right"><a href="/myprofile"> My Profile </a> </li>

		</ul>
	</nav>
</div>



