<body class="about">

	<div class="container">
	
		<h1 style="text-align:center;font-size:50px;">
   			About Us
    		<br>
		</h1>

		<div class="well">
			<p> The creators of this page, Sarah Rashid and Nicole Wilkinson developed this website as a place for hikers to interact and for beginners to learn the basics of hiking and backpacking. They created this website together at the Stanford Pre-Collegiate Summer Institues during their web technology class. </p>
		</div>

		<br> <br> 

		<div class="well">
		<h3 style="text-align:center;font-size:25px;"><i> Sarah Rashid <i></h3>

			<center> <img src= "https://www2.nwrdc.wa-k12.net/pictures/snoquas/0606601.JPG?rev=135" class="img-circle" alt="school picture" width= "180" height="250" align:"middle"> </center>

			<h4> Sarah Rashid is a rising highschool junior from Redmond, Washington. In the future she plans to pursue a career in computer science. She loves to go hiking and was interested in the idea to create a webpage that would connect hikers and backpackers from all skill levels.  </h4>
		</div>

		<br> <br> 

		<div class="well">
		<h3 style="text-align:center;font-size:25px;"><i> Nicole Wilkinson <i></h3>

			<center> <img src= "img/IMG_0601.jpg" class="img-circle" alt="nicolepic" width= "180" height="250" align:"middle"> </center>

			<h4> Nicole Wilkinson is a rising senior from San Francisco, California. She enjoys running, soccer, and hiking, but had never been backpacking before she and two friends hiked Section L of the PCT July of 2017. Before the trip, she was unable to find a comprehensive site with backpacking tips directed at beginners, and the idea for Trail Blazer was born.</h4>
		</div>
	</div>


</body>


