<body class="beginnertips" background-position: center>

<div class= "container">
	<h1 style="text-align:center;font-size:50px;">
		Tips for Beginners!
		<br><br>
	</h1>

	<div class="container">
		<img src="img/PCT4.jpg" class="img-circle"  alt="Tree Sunset" style="border-radius:50%;width:50%;height:auto;float:left;padding:10px">
		<img src="img/PCT8.jpg" class="img-circle" alt="Yoga" style="border-radius:50%;width:50%;height:auto;float:right;padding:10px"> 
		<img src="img/PCT1.jpg" class="img-circle" alt="Snow" style="border-radius:50%;width:50%;height:auto;float:right;padding:10px">
		<img src="img/PCT6.jpg" class="img-circle" alt="River" style="border-radius:50%;width:50%;height:auto;float:left;padding:10px">  
	</div> <br>

	<p style="font-size:25px;text-align:center"><strong> Remember: </strong></p>

	<div class="well">
		<p style="font-size:15px">
		Learning how to safely backpack takes time: start with single-day hikes and build up to multi-day and week backpacking trips. Make sure you are as prepared as possible by testing your gear in the field, speaking to experienced hikers and backpacking professionals, and following our guidelines! 
		</p>
	</div>

	 <p style="font-size:25px;text-align:center"><strong> What to Bring: </strong></p>

	<div class="well">
		<p style="font-size:15px;text-align:center;">
		<strong>Navigation:</strong><br>
		Always pack a <b>compass</b> and multiple copies of a <b>topographic map</b> of your hike. GPS navigators, such as the Gaia GPS app for iPhone, can make navigation easier.<br>
		<strong>Sun Protection:</strong><br>
		<b>Sunglasses</b> with 100% UV protection are crucial to backpacking.  <b>Sunscreen</b> is also necessary. Make sure to choose a brand that has an SPF of at least 30, blocks UVA and UVB rays, and ideally has an active ingredient of zinc oxide- try to avoid oxybenzone or avobenzone. For trips that include prolonged stretches of ice or snow, we recommend glacier glasses, sun-protected clothing and buffs, and SPF lip balm.<br>
		<strong>Insulation:</strong><br>
		<b>Layers!</b> Besides your regular hiking clothes- non-cotton short sleeve shirt, shorts, or pants- layers for unpredictable weather conditions are needed. This means fleece long underwear, insulated midlayer, waterproof pants, waterproof shell, insulated wool hat, and extra wool socks.<br>
		<strong>Nutrition:</strong><br>
		Pack at least an extra day's worth of <b>food</b>. This can include snacks such as salami, nuts, and energy bars or cook items, such as freeze dried meals or oatmeal.<br>
		<strong>Hydration:</strong><br>
		Always pack water <b>bottles</b> and/or <b>reservoirs</b> with around 3 liters in capacity, along with multiple forms of <b>water filtration</b>. These can include squeeze filters, gravity filters, water purification tablets, or UV filters.<br>
		<strong>Fire:</strong><br>
		<b>Waterproof matches</b> are essential to backpacking, and are used for lighting your <b>stove</b> or fire in the morning and night. We recommend backpacking stoves of the gas canister variety because they are small and portable. if your stove breaks, <b>firestarter</b> is necessary as well. Dry tinder in a waterproof bag, magnesium, priming paste, paraffin, or even lint all suffice.<br>
		<strong>Illumination:</strong><br>
		We recommend two forms of illumination: a <b>headlamp</b> and a small <b>flashlight</b>, along with extra batteries. <br>
		<strong>First Aid:</strong><br>
		We recommend packing pre-assembled <b>first aid kits</b>, as sized by the length of your trip and number of people accompanying you. Always bring extra moleskin for blisters, bandaids, gauze, adhesive tape, disinfecting wipes, and pain medication.<br>
		<strong>Shelter:</strong><br>
		For overnight trips, always pack a <b>tent</b>, as determined by your party size, and/or a <b>tarp</b> for sleeping outdoors. <b>Emergency shelter</b> supplies are also necessary: 50 ft cord and ultralight tarp, bivy sack, or emergency space blanket are options for protection from unfortunate weather conditions.<br>
		<strong>Repair Tools:</strong><br>
		Always pack a <b>knife</b> or a <b>multitool</b>, which are useful for food preparation, gear repair, defense, and first aid. <b>Duct tape</b> is also necessary, and be helpful for repairing sleeping pads, backpacks, jackets, etc.
		</p>
	</div>

</div>
</body>



