<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
          <img src="img/homepage.jpg" id="bannerimage" alt="snow" class="img-responsive">
            <div class="carousel-caption" id="bannertitle">
              Trail Blazer 
              <img src="img/trailblazer.png" style="height:150px;"></li>
            </div>
            <h3> <center> A resource for tips, information, and a place to connect with other hikers and backpackers! </center></h3> 
        </div>
    </div>
</div>

<br>
<br>

<div class= "container"> 
  <form method="get" action="/featuredhike">
    <button type="submit" class="btn btn-primary btn-lg btn-block" href="/featuredhike" > Featured Backpacking Trip</button>
  </form>
  <br>
  <form method="get" action="/about">
    <button type="submit" class="btn btn-default btn-lg btn-block" href="/about"> About Us</button>
    <br><br><br>
  </form>
<iframe frameborder="0" width="800" height="600" align="middle" src="https://biteable.com/watch/embed/trail-blazer-1488903" allowfullscreen="true"></iframe><p><a href="https://biteable.com/watch/trail-blazer-1488903"></a></p>

</div>