<body class="signup">

<h1 style="text-align:center;font-size:50px;">
    Register Now!
    <br>
</h1>

<div class= "container">
    <form method="post" action="/register">
        <div class="form-group">
           <label for="firstname">First Name:</label>
          <input type="firstname" class="form-control" name="firstname" id="firstname" placeholder="Enter First Name">
        </div>

        <div class="form-group">
          <label for="lastname"> Last Name: </label>
          <input type="lastname" class="form-control" name="lastname" id="lastname" placeholder="Enter Last Name">
        </div>

        <div class="form-group">
          <label for="email"> Email: </label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
        </div>

        <div class="form-group">
          <label for="username"> Username: </label>
          <input type="username" class="form-control" name="username" id="username" placeholder="Enter Username">
        </div>

        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Enter Password">
        </div>

      <div class="form-group">
        <label for="gender"> Gender: </label> 
        <select id="gender" name="gender" style="font-size:15px;color:black;">
          <option value="choose"> Choose One </option>
          <option value="female"> Female </option>
          <option value="male"> Male </option>
          <option value="other"> Other </option>
          <option value="optout"> I'd rather not say. </option>
        </select>
      </div>

        <div class="checkbox">
           <label style="font-size:14px"><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <br>

    <a href="/login"><font color="black" size="2.75">Already have an account? Login here. </font>
    </a>
    </form>
</div>
  </body>



