.well {
	background-color:  #ffffff;
}

#content {
	margin-top: 4em;
}

body {
	text-align: left;
	font-family: helvetica;
	background-position: left top;
	background-attachment: fixed;
}

.login {
	text-align:left;
	font-family: helvetica;
	color:white;
	font-size:20px;
	background-image:url('/img/PCT1.jpg');
	background-size: 100%;
	background-position: right;
	background-attachment: fixed;
}

.about {
	font-family: helvetica;
	font-size:20px;
	background-image:url('/img/backgroundregistration.jpg');
	background-size: 100%;
	background-position: right;
	background-attachment: fixed;
}

.signup {
	text-align:left;
	font-size:20px;
	font-family: helvetica;
	color:white;
	background-image:url('/img/backgroundregistration.jpg');
	background-size: 100%;
	background-position: left top;
	background-attachment: fixed;
}

.postTrail {
	color:white;
	font-size:20px;
	font-family: helvetica;
	background-image:url('/img/PCT4.jpg');
	background-size: 100%;
	background-position: right;
	background-attachment: fixed;
}

.explorehikes {
	color:white;
	font-size:20px;
	font-family: helvetica;
	background-image:url('/img/PCT4.jpg');
	background-size: 100%;
	background-position: right;
	background-attachment: fixed;
}

.myprofile {
	font-size:20px;
	font-family: helvetica;
	text-align:left;
	background-image:url('/img/PCT2.jpg');
	background-size: 100%;
	background-position: right;
	background-attachment: fixed;
}

.updateProfile {
	font-size:20px;
	font-family: helvetica;
	text-align:left;
	background-image:url('/img/PCT2.jpg');
	background-size: 100%;
	background-position: right;
	background-attachment: fixed;
}

#mycarousel {
	width: 100%;
	margin-top: -4em;
}

#bannerimage {
	height: auto;
	width: 100%;
}

#bannertitle {
	font-size: 90px;
	font-family: helvetica;
	text-align: center;
	color: white;
	text-shadow: #444 0 1px 1px;
}

p {
	font-size: 25px;
	font-family: helvetica;
}

ul {
	list-style-type: none;
	font-size: 14px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #404040;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	font-family: helvetica;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: white;
}

li.dropdown {
	display: inline-block;
} 
